<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fitness Partner</title>
    <link th:href="@{/css/nav.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<header th:include="top.html"></header>
<div style="display: flex">
    <div th:include="font.html"></div>
    <nav th:include="nav.html"></nav>
    <div style="margin: 10px; width: 100%; display: flex">
        <div style="flex-direction: column">
            <a type="button" class="btn btn-secondary" th:href="@{/board/food_share}">뒤로가기</a>
            <div style="width: 70vh">
                <div>제목 : <span th:text="${board.title}">title</span></div>
                <div>내용 : <span th:text="${board.content}">content</span></div>
                <div style="height: 600px; text-align: center;">
                    <img th:src="${board.image}" style="height: 100%; width: 100%;">
                </div>
            </div>
        </div>
        <div style="width: 60vh">
            <p>댓글창</p>
            <div style="display: flex">
                <table class="table table-striped" style="text-align: center; border: 1px solid #dddddd">
                    <thead>
                    <tr>
                        <th style="background-color: white; text-align: center;">댓글 작성</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" class="form-control" placeholder="댓글" id="content" maxlength="50"></td>
                    </tr>
                    </tbody>
                </table>
                <span><button class="btn btn-secondary" style="display: grid; grid-template-columns: minmax(50px, max-content) 1fr" onclick="create_comment()">작성</button></span>
            </div>

            <table class="table table-striped" style="text-align: center; border: 1px solid #dddddd">
                <thead>
                <tr>
                    <th style="background-color: white; text-align: center;">댓글 목록</th>
                </tr>
                </thead>
                <tbody id="comment-list">
                <tr th:each="comment: ${comments}">
                    <td><span th:text="${comment.contents}">contents</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<!--<script >-->
<script th:inline="javascript">
    const create_comment = () => {
        const content = document.getElementById('content').value;
        const id =[[${board.id}]];
        console.log(content);
        console.log(id);
        $.ajax({
            type:"POST",
            url:"/comment/create",
            data: {
                boardId: id,
                comments: content
            },
            dataType: "json",
            success:function(comment){
                console.log(comment.contents);
                let output = "<tr><td>";
                output += "<span>"+comment.contents+"</span>";
                output += "</td></tr>";
                document.getElementById('comment-list').innerHTML += output;
            }
            // success:function(join_result){
            //     if(join_result!=null) {
            //         alert("회원가입에 성공했습니다.");
            //         window.location.href = '/';
            //     }
            // },
            // error: function() {
            //     console.log(email);
            // }
        });//ajax
    }
</script>
</body>
</html>