<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fitness Partner</title>
    <link th:href="@{/css/nav.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<header th:include="top.html"></header>
<div style="display: flex">
    <div th:include="font.html"></div>
    <nav th:include="nav.html"></nav>
    <div style="margin: 10px; width: 100%">
        <div>
            <a type="button" class="btn btn-secondary" th:href="@{/board/create}">글작성</a>
            <button type="button" class="btn btn-dark" th:href="@{/board/create}" style="margin-left: 40vh"><</button>
            <button type="button" class="btn btn-dark" th:href="@{/board/create}">></button>
        </div>
        <div style="overflow: scroll; height: 75vh; width: 100vh; margin-top: 30px">
            <div th:each="board: ${boards}" style="display:flex; flex-direction: column">
                <hr>
<!--                <img th:src="@{/img/fresh.png}" style="width: 400px; height: 400px;">-->
                <div id="imageDiv"
                     style="width: 70%; margin: 0 auto;">
                    <img th:src="${board.image}" style="width: 100%; height: 100%">
                </div>
                <div style="display: flex;">
                    <div>
                        <div>제목 : <span th:text="${board.title}">title</span></div>
                        <div>내용 : <span th:text="${board.content}">content</span></div>
                    </div>
                    <div>
<!--                        <p th:text="${board.image}">image</p>-->
<!--                        <p th:text="${board.createTime}">content</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>