<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fitness Partner</title>
    <link th:href="@{/css/nav.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<header th:include="top.html"></header>
<div style="display: flex">
    <nav th:include="nav.html"></nav>
    <div style="margin: 10px">
        <h1>식단 계획</h1>
        <input type="text" class="form-control" placeholder="Kcal" id="kcal" maxlength="50">
        <button class="btn btn-secondary" onclick="send()" >계획 작성</button>
        <div id="result">
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    const send = () => {
        const kacl = document.getElementById('kcal').value;
        console.log(kacl);
        document.getElementById('result').innerHTML = "<img src='https://i.ibb.co/20zw80q/1487.gif' style='margin-top: 20px'/>";
        $.ajax({
            type: "POST",
            url:"/chat-gpt/test",
            data: {
                prompt: kacl,
            },
            dataType: "json",
            // async: false,
            success:function(result){
                console.log(result.prompt);
                let output = "<span>";
                //let output = "<span>"+result.prompt+"</span>";
                result.prompt.split('\n').map(parse => {
                    output += parse +"</br>";
                })
                output += "</span>";
                document.getElementById('result').innerHTML = output;
            }
        });//ajax
    }
</script>
</body>
</html>