<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fitness Partner</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body style="height: 100vh; display:flex; flex-direction: column; justify-content: center; align-items: center">
<div>
    <img th:src="@{img/FitnessPartner_logo.png}">
    <form th:action="@{/user/login}" th:method="post" th:name="loginForm" style="display: flex; flex-direction: column; justify-content: center; align-items: center">
        <div th:class="login_text">
            <b>email :</b>
            <input th:placeholder="email" th:class="login">
        </div>
         <br>
        <div th:class="login_text">
            <b>pw :</b>
            <input th:placeholder="password" th:class="login">
        </div>
         <br>
        <input th:type="button" th:value="로그인" th:class="login_button" style="font-weight:bold;">
    </form>
    <div style="width: 100%; display : flex; justify-content: center;">
        <a th:href="@{/user/join}"><b>회원가입</b></a>
        <a th:href="@{/home}"><b>메인</b></a>
    </div>

</div>

</body>
</html>