<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fitness Partner</title>
    <link th:href="@{/css/nav.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<header th:include="top.html"></header>
<div style="display: flex">
    <nav th:include="nav.html"></nav>
    <div style="margin: 10px">
        <table class="table table-striped" style="text-align: center; border: 1px solid #dddddd">
            <thead>
            <tr>
                <th style="background-color: white; text-align: center;">마이페이지</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" class="form-control" placeholder="키" id="height" maxlength="50"></td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="activity" value="25" checked>적다
                    <input type="radio" name="activity" value="30">보통
                    <input type="radio" name="activity" value="35">많다
                    <input type="radio" name="activity" value="40">매일
                </td>
            </tr>
            <tr>
                <td>표준 체중 : <span>100</span></td>
            </tr>
            <tr>
                <td>권장칼로리 : <span>100</span></td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-secondary" onclick="mypage()">수정</button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script>
    const mypage = () => {
        const height = document.getElementById('height').value;
        const activitys = document.getElementsByName('activity');
        let activity;
        activitys.forEach((radio)=>{
            if(radio.checked) {
                activity = radio.defaultValue;
            }
        })
        console.log(height);
        console.log(activity);
        $.ajax({
            type:"POST",
            url:"/bodyInfo/update",
            data: {
                height: height,
                activity: activity
            },
            dataType: "json",
            // success:function(join_result){
            //     if(join_result!=null) {
            //         Swal.fire({
            //             icon: 'success',
            //             title: '회원가입',
            //             text: '회원가입에 성공했습니다.',
            //         });
            //         window.location.href = '/';
            //     }
            // },
            // error: function() {
            //     console.log(email);
            // }
        });//ajax
    }
</script>
</body>
</html>