<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fitness Partner</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<header th:include="top.html"></header>
<div style="display: flex">
    <nav th:include="nav.html"></nav>
    <div style="margin: 10px">
        <div class="container">
            <table class="table table-striped">
                <thead>
                <tr>
<!--                    <td>번호</td>-->
                    <td>제목</td>
                    <td>작성자</td>
                    <td>날짜</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board: ${boards}">
                    <td th:text="${board.title}"></td>
                    <td th:text="${board.image}"></td>
                    <td th:text="${board.createTime}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>